%header
  %h1 Morel Ipsum
  %h2 A very nice 'lorem ipsum' generator

%section
  %form{ action: '/morel', name: 'generate_form', method: 'post' }
    %fieldset
      %input{ name: 'sentences', type: 'text' }
      %input{ class: 'button', id: 'generate', type: 'submit', value: 'Generate' }
