%header
  %h1 Morel Ipsum
  %h2 A very nice 'lorem ipsum' generator

%section
  %form
    %fieldset
      %input{ name: 'lorem-ipsum-start', type: 'checkbox' } Begin with 'Lorem ipsum...'

  %a#generate.button{ href: '/' } Generate

%section
  %article
    - @paragraph.each do |sentence|
      %span
        - sentence.each do |string|
          = string
