%header
  %h1 Morel Ipsum
  %h2 A very nice 'lorem ipsum' generator

%section
  %a#generate.button{ href: '/' } Generate

%section
  %article.morel-ipsum
    - @words.each do |word|
      %span
        = word.word
